OPENBAO_IMAGE=quay.io/openbao/openbao:2.6.0
OPENBAO_NODE0_PORT=18200
OPENBAO_NODE1_PORT=18201
OPENBAO_NODE2_PORT=18202
POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_PORT=15432
POSTGRES_DB=openbao_app
POSTGRES_USER=openbao_admin
POSTGRES_PASSWORD=openbao_admin_password
PROMETHEUS_IMAGE=prom/prometheus:v3.11.2
PROMETHEUS_PORT=19090
LOKI_IMAGE=grafana/loki:3.7.2
LOKI_PORT=13100
ALLOY_IMAGE=grafana/alloy:v1.16.1
ALLOY_PORT=12345
GRAFANA_IMAGE=grafana/grafana:13.0.1
GRAFANA_PORT=13000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
