{{- $pageTitle := partial "page_title.html" . -}}
{{- $pageDescription := partial "page_description.html" . | default site.Title -}}
{{- $documentTitle := cond .IsHome site.Title (printf "%s | %s" $pageTitle site.Title) -}}
{{- $style := resources.Get "css/main.css" | resources.ExecuteAsTemplate "css/main.css" . | minify | fingerprint -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ $documentTitle }}</title>
<meta name="description" content="{{ $pageDescription }}">
<meta property="og:title" content="{{ $documentTitle }}">
<meta property="og:description" content="{{ $pageDescription }}">
<meta property="og:type" content="{{ cond .IsHome "website" "article" }}">
<meta property="og:url" content="{{ .Permalink }}">
<link rel="icon" type="image/svg+xml" href="{{ relURL (site.Params.faviconPath | default "brand/openbao-single-color-square.svg") }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
